<?xml version="1.0" encoding="utf-8" ?>
<!--
interaction attribute values:
email
share
like
connect
stripe
  -->
<data interaction="email" headerimage="img/audi_logo_new.gif">
    <!--OPEN GRAPH CONFIGS-->
    <og>
        <title>Suivez votre instinct</title>
        <description>Offre AutoCredit : l’Audi A3 Attraction 1.6 TDI 105 CV à paritr de € 199/mois TVAC. AutoCredit =
            prêt à tempérament avec des mensualités fixes initiales et une dernière mensualité plus élevée. Taux
            débiteut fixe de 2,99% sur tous les véhicules de la gamme A1, A3 et A4. Offre réservée aux particuliers du
            01/09/2012 au 30/09/2012 sur maximum 48 mois et avec minimum 15% d’acompte. Kilométrage maximal par an:
            30.000 km. Prêt à tempérament sous réserve d’acceptation du dossier pas Volkswagen D’Ieteren Finance S.A.
            Infos sur www.audi.be
        </description>
        <thumbnailfile>img/gnl-thumbnail.jpg</thumbnailfile>
        <videofile>
            <mp4>video/video.mp4</mp4>
            <webm>video/video.webm</webm>
        </videofile>
    </og>
    <!--GOOGLE ANALYTICS CONFIGS //frimgle.com : UA-31561418-1, frimglebeta.com : UA-50046396-1//-->
    <ga trackingid="UA-50046396-1"></ga>
    <!--PLAYER CONFIGS-->
    <player>This won't work
        <poster>img/gnl-poster.jpg</poster>
        <!--POSTER IMAGE-->
        <playbutton>img/gnl-btn-play.png</playbutton>
        <!--BUTTON PLAY IMAGE-->
        <skipbutton x="290" y="128"><!--BUTTON SKIP IMAGE-->
            <source>img/gnl-btn-skip.png</source>
        </skipbutton>
    </player>
    <!--CTA CONFIGS-->
    <CTAEmail>
        <image x="80" y="50"><!--TOP IMAGE-->
            <source>img/email-top.png</source>
            <link target="_blank">#</link>
            <!--LINK WHEN CLICKING ON THE IMAGE-->
        </image>
        <emailfield x="40" y="80" width="220" height="33" font="Helvetica" size="14" color="#929191" border="true"
                    borderColor="#ffffff" backgroundFill="true" backgroundColor="#ffffff" maxChars="50"
                    text-align="center">
            <defaultText><![CDATA[ adresse email]]></defaultText>
            <!--EMAIL FIELD TITLE-->
        </emailfield>
        <button x="275" y="80"><!--BUTTON SEND IMAGE-->
            <source>img/email-btn-send.png</source>
        </button>
        <thanksfield x="169" y="40" height="45" font="Helvetica" size="20" color="#FFFFFF" border="false"
                     borderColor="#ffffff" backgroundFill="false" backgroundColor="#ffffff">
            <defaultText><![CDATA[Merci!]]></defaultText>
            <!--THANK YOU TEXT-->
        </thanksfield>
    </CTAEmail>
    <CTAShare>
        <button x="145" y="128"><!--BUTTON SHARE-->
            <source>img/fb-btn-share.png</source>
            <!--//<link target="_blank">https://www.google.com</link>LINK WHEN CLICKING ON THE BUTTON// REMOVED, AUTOMATED TO SIMPLIFY DEPLOYMENT//-->
        </button>
    </CTAShare>
    <CTALike showfaces="true">
        <button x="70" y="15"><!--BUTTON LIKE-->
            <source>img/fb-btn-like.png</source>
        </button>
        <link>http://facebook.com/bmw</link>
    </CTALike>
    <!--//List of all permissions can be found here : https://developers.facebook.com/docs/facebook-login/permissions#adding//-->
    <CTAConnect appID="653224924743100" showfaces="true"
                permissions="email, user_location, user_likes, user_interests, user_birthday, user_about_me, user_hometown">
        <button x="100" y="100"><!--BUTTON CONNECT-->
            <source>img/fb-btn-connect.png</source>
        </button>
    </CTAConnect>
    <!--
    https://stripe.com/docs/testing testing assets
    amount (in cents) currency attribute values: EUR, USD see @ https://support.stripe.com/questions/which-currencies-does-stripe-support -->
    <CTAStripe amount="300" currency="usd">
        <namefield x="18" y="18" width="360" height="30" font="Helvetica" size="20" color="#6E6E6E" border="true"
                   borderColor="#D8D8D8" backgroundFill="true" backgroundColor="#000000" maxChars="50">
            <defaultText><![CDATA[Your Name :]]></defaultText>
            <!--NAME FIELD TITLE-->
        </namefield>
        <emailfield x="18" y="68" width="360" height="30" font="Helvetica" size="20" color="#6E6E6E" border="true"
                    borderColor="#D8D8D8" backgroundFill="true" backgroundColor="#000000" maxChars="50">
            <defaultText><![CDATA[E-mail Address :]]></defaultText>
            <!--EMAIL FIELD TEXT-->
        </emailfield>
        <cardnumberfield x="18" y="118" width="250" height="30" font="Helvetica" size="20" color="#6E6E6E" border="true"
                         borderColor="#D8D8D8" backgroundFill="true" backgroundColor="#000000" maxChars="20">
            <defaultText><![CDATA[Card Number :]]></defaultText>
            <!--CARD NUMBER FIELD TEXT-->
        </cardnumberfield>
        <cvcfield x="278" y="118" width="100" height="30" font="Helvetica" size="20" color="#6E6E6E" border="true"
                  borderColor="#D8D8D8" backgroundFill="true" backgroundColor="#000000" maxChars="3">
            <defaultText><![CDATA[CVC :]]></defaultText>
            <!--CVC FIELD TEXT-->
        </cvcfield>
        <expirationmonthfield x="18" y="168" width="160" height="30" font="Helvetica" size="20" color="#6E6E6E"
                              border="true" borderColor="#D8D8D8" backgroundFill="true" backgroundColor="#000000"
                              maxChars="2">
            <defaultText><![CDATA[Expiry Month:]]></defaultText>
            <!--EXPIRY MONTH FIELD TEXT-->
        </expirationmonthfield>
        <expirationyearfield x="218" y="168" width="160" height="30" font="Helvetica" size="20" color="#6E6E6E"
                             border="true" borderColor="#D8D8D8" backgroundFill="true" backgroundColor="#000000"
                             maxChars="4">
            <defaultText><![CDATA[Expiry Year:]]></defaultText>
            <!--EXPIRY YEAR FIELD TEXT-->
        </expirationyearfield>
        <button x="100" y="208"><!--BUTTON STRIPE SUBMIT-->
            <source>img/stripe-btn-submit.png</source>
        </button>
    </CTAStripe>
</data>